html,
body,
div#conteudo {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
}

div.backgroundLogin{
    background-image: url(../imgs/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    padding: 25px 0;
}

section.login {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    padding: 25px;
    border-radius: 20px;
    background-color: #3a3737;
}

section.login h1 {
    color: #f0f0f0;
    font-size: 30px;
    font-weight: normal;
}

section.login div#divResult {
    text-align: center;
    display: none;
    font-size: 18px;
}

section.login form.form-users .form-control {
    height: inherit;
    padding: 10px;
    font-size: 20px;
}

section.login form.form-users input[type="text"],
section.login form.form-users input[type="email"],
section.login form.form-users input[type="password"] {
    margin-bottom: 28px;
}

section.login .btn {
    width: 100%;
    color: #faf9f9;
    border: 2px solid #f8f6f6;
    background: transparent;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 2px;
}

section.login .btn-access {
    padding: 12px 0;
}
section.login .btn:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
}